.global-theme {
        --neutral-fill-0: #ffffff;
--neutral-fill-1: #f7f8fa;
--neutral-fill-2: #f2f3f5;
--neutral-fill-3: #e5e6eb;
--neutral-fill-4: #c9cdd4;
--neutral-fill-5: #4e5969;
--neutral-text-0: #ffffff;
--neutral-text-1: #1d2129;
--neutral-text-2: #4e5969;
--neutral-text-3: #86909c;
--neutral-text-4: #c9cdd4;
--neutral-line-1: #e5e6eb;
--neutral-line-2: #c9cdd4;
--status-primary-1: #E8F5FF;
--status-primary-3: #8BC7FF;
--status-primary-5: #2E8CFF;
--status-primary-6: #006AFF;
--status-primary-7: #0051D2;
--status-success-1: #E8FFEA;
--status-success-3: #7BE188;
--status-success-5: #23C343;
--status-success-6: #00B42A;
--status-success-7: #009A29;
--status-warning-1: #FFF7E8;
--status-warning-3: #FFCF8B;
--status-warning-5: #FF9A2E;
--status-warning-6: #FF7D00;
--status-warning-7: #D25F00;
--status-error-1: #FFECE8;
--status-error-3: #FBACA3;
--status-error-5: #F76560;
--status-error-6: #F53F3F;
--status-error-7: #CB272D;
--status-link-1: #E8F3FF;
--status-link-3: #94BFFF;
--status-link-5: #4080FF;
--status-link-6: #165DFF;
--status-link-7: #0E42D2;
--mask-fill-1: #1d212999;
--size-base: 4;
--size-xxs: 12;
--size-xs: 16;
--size-s: 24;
--size-m: 32;
--size-l: 40;
--size-xl: 48;
--size-xxl: 56;
--space-base: 4;
--space-xxs: 0;
--space-xs: 4;
--space-s: 8;
--space-m: 12;
--space-l: 16;
--space-xl: 24;
--space-xxl: 32;
--border-radius-base: 4px;
--border-radius-s: 4px;
--border-radius-m: 8px;
--border-radius-l: 12px;
--border-width-base: 1px;
--border-width-s: 1px;
--border-width-m: 2px;
--border-width-l: 4px;
--shadow-1: 0 2 5 #0000001a;
--shadow-2: 0 4 10 #0000001a;
--shadow-3: 0 4 10 #0000001a;
--shadow-4: 0 8 20 #0000001a;
--font-families-pingfang-sc: PingFang SC;
--font-weights-regular: Regular;
--font-weights-medium: Medium;
--font-weights-semibold: Semibold;
--font-size-12: 12px;
--font-size-13: 13px;
--font-size-14: 14px;
--font-size-16: 16px;
--font-size-20: 20px;
--font-size-24: 24px;
--font-size-36: 36px;
--font-size-48: 48px;
--font-size-56: 56px;
--font-12-regular: [object Object];
--font-12-medium: [object Object];
--font-12-semibold: [object Object];
--font-13-regular: [object Object];
--font-13-medium: [object Object];
--font-13-semibold: [object Object];
--font-14-regular: [object Object];
--font-14-medium: [object Object];
--font-14-semibold: [object Object];
--font-16-regular: [object Object];
--font-16-medium: [object Object];
--font-16-semibold: [object Object];
--font-20-regular: [object Object];
--font-20-medium: [object Object];
--font-20-semibold: [object Object];
--font-24-regular: [object Object];
--font-24-medium: [object Object];
--font-24-semibold: [object Object];
--font-36-regular: [object Object];
--font-36-medium: [object Object];
--font-36-semibold: [object Object];
--font-48-regular: [object Object];
--font-48-medium: [object Object];
--font-48-semibold: [object Object];
--font-56-regular: [object Object];
--font-56-medium: [object Object];
--font-56-semibold: [object Object];
      }