.light-theme {
          --base-main1-1: #E8F5FF;
  --base-main1-2: #BAE0FF;
  --base-main1-3: #8BC7FF;
  --base-main1-4: #5DABFF;
  --base-main1-5: #2E8CFF;
  --base-main1-6: #006AFF;
  --base-main1-7: #0051D2;
  --base-main1-8: #003AA6;
  --base-main1-9: #002679;
  --base-main1-10: #00164D;
  --base-main2-1: #E8FFFE;
  --base-main2-2: #BAF5F4;
  --base-main2-3: #8FE9EB;
  --base-main2-4: #66DBE1;
  --base-main2-5: #41CBD7;
  --base-main2-6: #1FB8CD;
  --base-main2-7: #1496AD;
  --base-main2-8: #0B758D;
  --base-main2-9: #04566D;
  --base-main2-10: #00394D;
  --base-red-1: #FFECE8;
  --base-red-2: #FDCDC5;
  --base-red-3: #FBACA3;
  --base-red-4: #F98981;
  --base-red-5: #F76560;
  --base-red-6: #F53F3F;
  --base-red-7: #CB272D;
  --base-red-8: #A1151E;
  --base-red-9: #770813;
  --base-red-10: #4D000A;
  --base-orangered-1: #FFF3E8;
  --base-orangered-2: #FDDDC3;
  --base-orangered-3: #FCC59F;
  --base-orangered-4: #FAAC7B;
  --base-orangered-5: #F99057;
  --base-orangered-6: #F77234;
  --base-orangered-7: #CC5120;
  --base-orangered-8: #A23511;
  --base-orangered-9: #771F06;
  --base-orangered-10: #4D0E00;
  --base-orange-1: #FFF7E8;
  --base-orange-2: #FFE4BA;
  --base-orange-3: #FFCF8B;
  --base-orange-4: #FFB65D;
  --base-orange-5: #FF9A2E;
  --base-orange-6: #FF7D00;
  --base-orange-7: #D25F00;
  --base-orange-8: #A64500;
  --base-orange-9: #792E00;
  --base-orange-10: #4D1B00;
  --base-gold-1: #FFFCE8;
  --base-gold-2: #FDF4BF;
  --base-gold-3: #FCE996;
  --base-gold-4: #FADC6D;
  --base-gold-5: #F9CC45;
  --base-gold-6: #F7BA1E;
  --base-gold-7: #CC9213;
  --base-gold-8: #A26D0A;
  --base-gold-9: #774B04;
  --base-gold-10: #4D2D00;
  --base-yellow-1: #FEFFE8;
  --base-yellow-2: #FEFEBE;
  --base-yellow-3: #FDFA94;
  --base-yellow-4: #FCF26B;
  --base-yellow-5: #FBE842;
  --base-yellow-6: #FADC19;
  --base-yellow-7: #CFAF0F;
  --base-yellow-8: #A38408;
  --base-yellow-9: #785D03;
  --base-yellow-10: #4D3800;
  --base-lime-1: #FCFFE8;
  --base-lime-2: #EDF8BB;
  --base-lime-3: #DCF190;
  --base-lime-4: #C9E968;
  --base-lime-5: #B5E241;
  --base-lime-6: #9FDB1D;
  --base-lime-7: #7EB712;
  --base-lime-8: #5F940A;
  --base-lime-9: #437004;
  --base-lime-10: #2A4D00;
  --base-green-1: #E8FFEA;
  --base-green-2: #AFF0B5;
  --base-green-3: #7BE188;
  --base-green-4: #4CD263;
  --base-green-5: #23C343;
  --base-green-6: #00B42A;
  --base-green-7: #009A29;
  --base-green-8: #008026;
  --base-green-9: #006622;
  --base-green-10: #004D1C;
  --base-cyan-1: #E8FFFB;
  --base-cyan-2: #B7F4EC;
  --base-cyan-3: #89E9E0;
  --base-cyan-4: #5EDFD6;
  --base-cyan-5: #37D4CF;
  --base-cyan-6: #14C9C9;
  --base-cyan-7: #0DA5AA;
  --base-cyan-8: #07828B;
  --base-cyan-9: #03616C;
  --base-cyan-10: #00424D;
  --base-blue-1: #E8F7FF;
  --base-blue-2: #C3E7FE;
  --base-blue-3: #9FD4FD;
  --base-blue-4: #7BC0FC;
  --base-blue-5: #57A9FB;
  --base-blue-6: #3491FA;
  --base-blue-7: #206CCF;
  --base-blue-8: #114BA3;
  --base-blue-9: #063078;
  --base-blue-10: #001A4D;
  --base-arcoblue-1: #E8F3FF;
  --base-arcoblue-2: #BEDAFF;
  --base-arcoblue-3: #94BFFF;
  --base-arcoblue-4: #6AA1FF;
  --base-arcoblue-5: #4080FF;
  --base-arcoblue-6: #165DFF;
  --base-arcoblue-7: #0E42D2;
  --base-arcoblue-8: #072CA6;
  --base-arcoblue-9: #031A79;
  --base-arcoblue-10: #000D4D;
  --base-purple-1: #F5E8FF;
  --base-purple-2: #DDBEF6;
  --base-purple-3: #C396ED;
  --base-purple-4: #A871E3;
  --base-purple-5: #8D4EDA;
  --base-purple-6: #722ED1;
  --base-purple-7: #551DB0;
  --base-purple-8: #3C108F;
  --base-purple-9: #27066E;
  --base-purple-10: #16004D;
  --base-pinkpurple-1: #FFE8FB;
  --base-pinkpurple-2: #F7BAEF;
  --base-pinkpurple-3: #F08EE6;
  --base-pinkpurple-4: #E865DF;
  --base-pinkpurple-5: #E13EDB;
  --base-pinkpurple-6: #D91AD9;
  --base-pinkpurple-7: #B010B6;
  --base-pinkpurple-8: #8A0993;
  --base-pinkpurple-9: #650370;
  --base-pinkpurple-10: #42004D;
  --base-magenta-1: #FFE8F1;
  --base-magenta-2: #FDC2DB;
  --base-magenta-3: #FB9DC7;
  --base-magenta-4: #F979B7;
  --base-magenta-5: #F754A8;
  --base-magenta-6: #F5319D;
  --base-magenta-7: #CB1E83;
  --base-magenta-8: #A11069;
  --base-magenta-9: #77064F;
  --base-magenta-10: #4D0034;
  --base-gray-1: #f7f8fa;
  --base-gray-2: #f2f3f5;
  --base-gray-3: #e5e6eb;
  --base-gray-4: #c9cdd4;
  --base-gray-5: #a9aeb8;
  --base-gray-6: #86909c;
  --base-gray-7: #6b7785;
  --base-gray-8: #4e5969;
  --base-gray-9: #272e3b;
  --base-gray-10: #1d2129;
  --base-background-1: #ffffff;
  --base-background-2: #000000;
      }