.main1-theme {
        --main-1: #E8F5FF;
--main-2: #BAE0FF;
--main-3: #8BC7FF;
--main-4: #5DABFF;
--main-5: #2E8CFF;
--main-6: #006AFF;
--main-7: #0051D2;
--main-8: #003AA6;
--main-9: #002679;
--main-10: #00164D;
      }