.main2-theme {
        --main-1: #E8FFFE;
--main-2: #BAF5F4;
--main-3: #8FE9EB;
--main-4: #66DBE1;
--main-5: #41CBD7;
--main-6: #1FB8CD;
--main-7: #1496AD;
--main-8: #0B758D;
--main-9: #04566D;
--main-10: #00394D;
      }